footer {
  box-shadow: 4px -4px 59px -7px rgba(0, 0, 0, 0.1);
  background: var(--dark-blue);
}

.logo-footer {
  position: relative;
}

.logo-footer::before {
  content: "";
  position: absolute;
  background: var(--soft-blue);
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
}

.redes-sociales {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-icons {
  margin-bottom: 10px;
}

.footer-icons span:first-child {
  transition: all 0.4s ease-in-out;
  color: #c32aa3;
  padding: 8px;
}
.footer-icons span:first-child:hover {
  background-color: #c32aa3;
  color: #fff;
  border-radius: 6px;
  transform: translateY(-5px);
  box-shadow: -7px 5px 35px -1px rgb(219, 55, 187);
  cursor: pointer;
}

.footer-icons span:last-child {
  transition: all 0.4s ease-in-out;
  color: #1da1f2;
  padding: 8px;
}
.footer-icons span:last-child:hover {
  background-color: #1da1f2;
  color: #fff;
  border-radius: 6px;
  transform: translateY(-5px);
  box-shadow: -7px 4px 35px -4px rgba(29, 161, 242, 0.9);
  cursor: pointer;
}

.redes-sociales::before {
  content: "";
  position: absolute;
  background: var(--soft-blue);
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
}

@media (max-width: 800px) {
  .logo-footer {
    grid-column: 1/4;
    justify-content: center;
    margin-bottom: 20px;
  }
  .logo-footer::before {
    display: none;
  }
  .redes-sociales {
    grid-column: 1/4;
    margin-bottom: 20px;
  }
  .redes-sociales::before {
    display: none;
  }
  .sobre-nosotros-footer {
    grid-column: 1/4;
    width: 100%;
  }
}
