header {
  background: linear-gradient(to left, var(--soft-blue) 30%, var(--dark-blue));
  border-bottom-left-radius: 50px;
}

header .heading-1 {
  color: var(--yellow);
  animation: colors 1.5s infinite ease-in-out;
}
header .heading-2 {
  color: var(--white);
  animation: colors2 1.5s infinite ease-in-out;
}

@keyframes colors {
  0% {
    color: var(--yellow);
  }
  50% {
    color: var(--orange);
  }
  100% {
    color: var(--white);
  }
}
@keyframes colors2 {
  0% {
    color: var(--white);
  }
  50% {
    color: var(--yellow);
  }
  100% {
    color: var(--orange);
  }
}

header.header-landing-page {
  border-radius: 0px;
}

main {
  padding: 0 50px;
  overflow-x: hidden;
}

.services-secion-landing-page {
  overflow-x: hidden;
}

main div .categories {
  border: 1px solid;
}

main div .categories img {
  position: relative;
}

main div .categories img:after {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
}

main div .categories:nth-child(even) {
  align-self: flex-end;
}

@media (max-width: 1023px) {
  .btn-ver-productos {
    width: 170px;
  }
}

@media (min-width: 801px) and (max-width: 1023px) {
  .categories {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .categories {
    width: 85%;
  }
}

@media (max-width: 699px) {
  .categories {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .categories {
    flex-direction: column;
  }
  .services-secion-landing-page {
    padding: 20px;
  }
  .services-secion-landing-page div h1 {
    width: 60%;
  }
  .services-secion-landing-page div img {
    width: 150px;
  }
}

@media (max-width: 500px) {
  main h1.h1-landing-page {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  header > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  main {
    overflow-x: hidden;
  }
  .services-secion-landing-page div h1 {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  main {
    padding: 0 20px;
  }
  .services-secion-landing-page div {
    flex-direction: column;
    gap: 20px;
  }
  .services-secion-landing-page div h1 {
    width: 100%;
  }
  .categories {
    width: 100%;
  }
  .container-mejores-productos-landing-page {
    width: 100%;
  }
}
