.menu-list-establecimiento {
  min-height: 85vh;
}

.detail-establecimiento-items {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.item-establecimiento {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.item-establecimiento img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(2px) brightness(45%);
  transition: filter ease-in-out 0.4s;
  cursor: pointer;
}
.item-establecimiento img:hover {
  filter: blur(0) brightness(85%);
}

.item-establecimiento > div {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
}

.item-establecimiento > div h2 {
  text-align: center;
  left: 0;
  font-size: 24px;
  color: #fff;
  width: 100%;
}

.item-establecimiento-single {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 3px 35px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item-establecimiento-single span.precio {
  color: var(--white);
  font-size: 32px;
  bottom: 20px;
  left: 10px;
}

.item-establecimiento-single img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.item-establecimiento-single h3 {
  font-size: 24px;
  text-align: center;
  width: 100%;
  color: var(--dark-blue);
  text-transform: capitalize;
  margin-top: 10px;
}

.item-establecimiento-single > div {
  height: 100%;
}
