.drawer-menu {
  background: var(--dark-blue);
  color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: none;
}

.carrousel {
  max-height: 82vh;
}
.carrousel img {
  max-height: 82vh;
  width: 100%;
  object-fit: cover;
}

.menu-list .menu-list__item {
  position: relative;
  overflow: hidden;
}
.menu-list .menu-list__item img {
  width: 400px;
  max-height: 200px;
  backdrop-filter: blur(20px);
  filter: grayscale(60%);
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.menu-list .menu-list__item img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .menu-list-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 699px) {
  .menu-list-grid {
    grid-template-columns: 1fr;
  }
}
