footer {
  box-shadow: 4px -4px 59px -7px rgba(0, 0, 0, 0.1);
}

.our-team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  text-align: center;
}

.our-team img {
  grid-row: 1/3;
  grid-column: 2/3;
}

.btn-unete-aqui {
  grid-column: 1/2;
  margin-top: 50px;
}

.redes-sociales {
  margin-top: 20px;
  grid-column: 1/3;
}

@media (max-width: 800px) {
  .our-team p {
    grid-column: 1/3;
  }
  .our-team img {
    margin-top: 40px;
    width: 100px;
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 60px;
  }
  .our-team div {
    margin-top: 20px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

@media (max-width: 550px) {
  footer {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px !important;
  }
  .sobre-nosotros {
    grid-column: 1/3;
    width: 100%;
  }
  .quieres-ser-nuestro-equipo {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .image-footer {
    display: flex;
    justify-content: center;
  }
  .image-footer img {
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
}

@media (max-width: 480px) {
  .image-footer {
    display: none;
  }
}

@media (max-width: 380px) {
}
